 <!-- Main Container -->
  <div class="container">
    <!-- Navigation -->
    <div class="form" id="login">
      <form >
        <label for="Username"> Enter Username</label>
        <input type="text" placeholder="Your Username" name="username" id="Username" class="login-input">
        <label for="Password"> Enter Password</label>
            <input type="password" placeholder="Password" name="password" id="Password" class="login-input">
            <br>
            <br>
            <button id="loginBtn" class="startbutton" type="submit">LOGIN</button>
            <p id="error"></p>
            <!-- <button id="loginBtn" class="login-input" type="submit">Login
            </button> -->
            <style>
              @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
              /* <div class= "startbutton">PRESS START</div> */
              </style>
              
            <!-- <div class="startbutton">LOGIN</div> -->

        </form>
    </div>
    </section>
    </div>
  <footer>
<!-- <article class="footer_column"> -->
  <h3>&nbsp;</h3>
  <p>&nbsp; </p>
  </article>
  </footer>
    <script src="./assets/js/login.js"></script>