html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-image: repeating-linear-gradient(#010101,#7D25A3);
    /* background: repeating-linear-gradient(
        to bottom,
        #0f0a1e,
        #0f0a1e 2px,
        lighten (#0f0a1e, 3%) 2px,
        ligthen (#0f0a1e, 3%) 4px,
    ); */
}
.logo {
    max-width: 50%;
    position: absolute;
    align-content: center;
    padding: 35px 400px 300px 200px;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90px; */
    color: white;
    width: 100%;
    /* text-align: center; */
    margin: auto;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0
    #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    animation: blink 1s
    steps(4, start) infinite
}
/* div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90px;
    color: white;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0
    #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    animation: blink 1s
    steps(4, start) infinite
} */

.login {
    margin: 300px;
    text-align: center;
}